<div>
	<div class="flexslider">
		<ul class="slides">
	  
	  		<li>
	  			<!-- <a href="#"> -->
		    		<img src="static/img/photo_clubs1.jpg">
		    		<!--	<p class="flex-caption">photo 1</p>	-->
		    	</a>
	 		</li>
			<li>
	  			<!-- <a href="#"> -->
		    		<img src="static/img/photo_clubs2.jpg">
		    		<!--	<p class="flex-caption">photo 2</p>	-->
		    	</a>
	 		</li>
			<li>
	  			<!-- <a href="#"> -->
		    		<img src="static/img/photo_clubs3.jpg">
		    		<!--	<p class="flex-caption">photo 3</p>	-->
		    	</a>
	 		</li>

		</ul>
	</div>
<div>
