<footer>
<style type="text/css">

  footer
  {     
    background-color:#1a1e23;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  a
  {
    color:#fff;
  }
</style>
  
        <div class="row">
          <div class="col-md-4">
          
            <br>
                <img src="https://snistinnovationhub.github.io/static/img/images.png" height="110" width="270" alt="Logo Loading Failed"></a> 
<br><br><br>
  
  </div>
  <div class="col-md-3">
    
    <br><br>
        <a href="https://www.google.com/">Feedback</a><br>
         <a href="https://www.google.com/">Email</a><br>
    <a href="https://www.google.com/">Facebook</a>   
  </div>
        <div class="col-md-3">
          <br>
          <br>
          <a href="https://www.google.com/">Twitter</a><br>
          <a href="https://www.google.com/">Instagram</a><br>
          <a href="https://www.google.com/">Snapchat</a>
      
  </div>

   <div class="col-md-2">
</div>
     </footer>
