<footer>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:500|Open+Sans+Condensed:300|Roboto|Roboto+Condensed|Ubuntu" rel="stylesheet">

<style type="text/css">

  footer
  {     
    background-color:#4d4f53;
  }
  ul
  {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:#47c2d0;  
    display:inline;
  }
  li a
  {    
    color:#47ccfc;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;

  }
  li
  {
    float: left;
    padding-left: 8px;
  }
  img
  {
    float:left;
  }
</style>
        <img src="https://www.static-contents.youth4work.com/university/Documents/Colleges/CollegeImages/513d7e17-3828-4e10-8097-e7c429f9ffdf.JPG" height="100" alt="Logo Loading Failed"></a> 
      
        <ul>
          <li><a href="https://www.google.com/">Contact Us</a></li>
          <li><a href="https://www.google.com/">Donate</a></li>
          <li><a href="https://www.google.com/">Contribute to this site</a></li>       

        
          <li><a href="https://www.google.com/">Privacy</a></li>
          <li><a href="https://www.google.com/">Cookies</a></li>
          <li><a href="https://www.google.com/">Legal</a></li>
          <li><a href="https://www.google.com/">Report Trademark Abuse</a></li>
        </ul>

</footer>
