<link href="https://snistinnovationhub.github.io/static/css/app.css" rel="stylesheet" type="text/css">

<header class="site-header">

  <nav class="navbar">
           <a class="navbar-brand navbar-logo" href="https://snistinnovationhub.github.io/"><img id="snistlogo" src="https://snistinnovationhub.github.io/static/img/images.png" height=100px;width=120px; align="left"; alt="sreenidhi-hub"></a>

    <div class="container">
      
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar">
       
        <a class="nav-link" href="https://snistinnovationhub.github.io/activities/">Activities</a>
        <a class="nav-link" href="https://snistinnovationhub.github.io/members/">SIT</a>
        <a class="nav-link" href="https://snistinnovationhub.github.io/col/">Collaborations</a>
    <!--    <a class="nav-link" href="https://snistinnovationhub.github.io/msme/">MSME</a>
        <a class="nav-link" href="https://snistinnovationhub.github.io/tie-grad/">TIE-GRAD</a>
        <a class="nav-link" href="https://snistinnovationhub.github.io/mhrd/">MHRD</a>
        <a class="nav-link" href="https://snistinnovationhub.github.io/jhub">J Hub</a>  -->
        <a class="nav-link" href="https://snistinnovationhub.github.io/facilities">Facilities</a>
        <a class="nav-link" href="https://snistinnovationhub.github.io/connect/">Connect</a>
        
        <a class="navbar-logo navbar-right" href="https://snistinnovationhub.github.io/"><img id="snistlogo" src="https://snistinnovationhub.github.io/static/img/logo.jpg" height=120px;width=85px;align="right"; alt="Sreenidhi-Hub"></a>

      </div>


    </div>
  </nav>

</header>
