<script src="{{ "/static/js/jquery.min.js" | prepend: site.url }}"></script>
<script src="{{ "/static/js/tether.min.js" | prepend: site.url }}"></script>
<script src="{{ "/static/js/bootstrap.min.js" | prepend: site.url }}"></script>
<!-- Google CDN Hosted jQuery  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- Flexslider Library  -->
	<!--<script src="{{ "/assets/js/flexslider/jquery.flexslider-min.js" | prepend:site.url}}"></script>-->
	<!-- Initialisation Code  -->
	<script src="{{ "/assets/js/app.js" | prepend:site.url}}"></script>
